.card {
  position: relative;
  border-radius: 10px;
  height: 80vh;
  width: 80vw;
  background-color: rgba(0, 0, 0, 0.3);
  box-sizing: content-box;
  padding: 10px;
}

.content {
  font-family: "Lato";
  margin-left: 10px;
}

.image {
  position:fixed;
  height: 80vh;
  width: 10vw;
  z-index: -1;
  background: url('../../../assets/images/BG.jpg') center center / cover;
}

.image1 {
  left: 10vw;
}

.image2 {
  right:10vw;  
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  display: flex;
  flex-direction: column;
}

.text {
  word-wrap: break-word;
  height: 80vh;
  width:56vw;
  margin: 0 12vw;
  overflow-y: auto;
  line-height: 1.6rem;
}

.card-content {
  width: 50vw;
  height: 80vh;
}

.container {
  width: 80vw;
}