<div class="card">
  <div class="row">
    <div class="image"></div>
    <div class="col card-content">
      <div class="content">
        <div class="title">
        </div>
        <div class="text">
          <h1>Parker's Journey</h1>
          Parker Solar Probe launched in 2018 to explore the mysteries of the Sun by traveling closer to it than any spacecraft before. Three years after launch and decades after its conception, Parker finally arrived.
          You will be NASA's newly hired engineer with the task of designing the Parker Solar Probe.
          We hope you learn about its amazing achivements and how important Parker is to our understanding of the Sun.
        </div>
      </div>
    </div>
  </div>
</div>
