<ion-content>
  <div class="bg"></div>
  <div class="col">
    <app-dialog  text={{textts}}></app-dialog>
    <div class="row">
      <app-minicard text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum unde sequi sed iste sunt fuga doloremque quam, explicabo vel totam maxime reprehenderit velit sit voluptatem consequuntur culpa provident cumque a!" (click)="getText()"></app-minicard>
      <app-minicard text="Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum eius maxime ab vitae. Officiis placeat, rerum qui aliquid aperiam quo quos impedit enim vel fugit voluptatibus perferendis blanditiis nobis nihil!"></app-minicard>
    </div>
  </div>
</ion-content>
